{% extends 'base.html.twig' %}
{% block saleMan %}
    {% block saleManList %}
        active
    {% endblock %}
{% endblock %}
{% block title %}Manager List{% endblock %}
{% block stylesheets %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('') }}bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block section %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">SaleMan List </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>SR#</th>
                    <th>Name</th>
                    <th>SurName</th>
                    <th>Phone Number</th>
                    <th>Birth Date</th>
                    <th>NIC</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>localisation</th>
                </tr>
                </thead>
                <tbody>
                {% for i in saleManList %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.surName }}</td>
                        <td>{{ i.phoneNumber }}</td>
                        <td>{{ i.birthDate }}</td>
                        <td>{{ i.nIC }}</td>
                        <td>{{ i.email }}</td>
                        <td>{{ i.address }}</td>
                        <td>{{ i.type }}</td>
                        <td>{{ i.localisation }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
{% block javascripts %}
    <!-- DataTables -->
    <script src="{{ asset('') }}bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('') }}bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#example1').DataTable()
        })
    </script>
{% endblock %}
